<!DOCTYPE html>
<html>
  <head>
    <title>ABCDevelopment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    <div id="main_header">
       <a href="/" onclick="window.location.replace('/')"><%= image_tag 'ABCDevelopment_logo.png', class: "headerLogo" %></a>
       <% if signed_in? %>        
        <span class="greeting"> <%= svg 'noun_hindi_1054581'%> <%= current_user.name %>.  Happy <%= Date.today.strftime("%A") %>. </span>
        <span class="authLink"><%= button_to 'Sign out', sign_out_path,:class => "signOutBtn", method: :delete %></span>
       <%# else %>
         <%# <span class="authLink"> %>
          <%#= link_to 'Log in', sign_in_path %>  
          <%#= link_to 'Sign up', sign_up_path %>
         <%# </span> %>
      <% end %>
    </div>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>     
    <%= yield %>
  </body>
</html>
